<html xmlns="http://www.w3.org/1999/xhtml"
xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type"
content="text/html; charset=utf-8" />
<style type="text/css" src="Css.css"></style>
<script language="javascript" src="jv.js"></script>
<title>1Point!</title>
<%= stylesheet_link_tag 'style' %>
</head>
<body bgcolor="#eeddff">
<table border="3px" bordercolor="#cc33ff" align="center" height="100" width="800">
<tr><td>
<table bgcolor="#ffffff" border="0" width="800">
	<tr>
		<td colspan="6" bgcolor="#ccccff">
		  <%= image_tag("pos.gif", :height=>105, :width=>800)%>
		</td>
	</tr>
	<tr>
	   <td colspan="6">
	   <div>
    	<%= yield%>
        </div>
	   </td>
	</tr>
</table>

</td>
</tr>
</table>
</body>
</html>