<html xmlns="http://www.w3.org/1999/xhtml"
xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type"
content="text/html; charset=utf-8" />
<style type="text/css" src="Css.css"></style>
<script language="javascript" src="jv.js"></script>
<title>1Point!</title>
<%= stylesheet_link_tag 'style' %>
</head>
<body bgcolor="#eeddff">
	
<div id="main">
	<div id="header">
	  <%= image_tag("header.png")%>
	</div>
	<div id="content">
		<!-- MAIN MENU-->
		<%= request.path != '/' ?
		link_to(image_tag("home.png", :border=>0), {:controller => 'manager', :action => 'index'})+
		link_to(image_tag("products.png", :border=>0), {:controller => 'product', :action => 'index'})+
		link_to(image_tag("xacts.png", :border=>0), {:controller => 'xact', :action => 'index', :sum => 0, :qty => 0})+
		link_to(image_tag("data.png", :border=>0), {:controller => 'statistics', :action => 'index'})+
		link_to(image_tag("users.png",  :border=>0), {:controller => 'user', :action =>'index'})+
		link_to(image_tag("branches.png", :border=>0), {:controller => 'branch', :action => 'branch'})+
		'<hr color="#eeddff" size="5px">' : ''
		%>
		<!-- MAIN MENU-->
		<%= yield%>
		<!-- User Management 
		
		-->
	</div>
	<div id="footer">
		Copyright (c) 2009
	</div>
</div>

</body>
</html>