<strong> List of Branches </strong>
<hr color="#eeddff" size="5px"><br>
<table class="generic" align="center">
	<colgroup>
		<col width="75">
		<col width="50">
		<col width="150">
		<col width="75">
	</colgroup>
	<tr>
		<th>Branch Name</th>
		<th>Contact No.</th>
		<th>Address</th>
		<th>Manager</th>
	</tr>
<% for branch in @branches %>
	<tr>
		<td><%= branch.branch_name %></td>
		<td></td>
		<td><%= branch.branch_address%></td>
		<td></td>
	</tr>
<% end %>
</table>