<strong> Add Product to Package </strong>
<hr color="#eeddff" size="5px"><br>
<% for detail in @details %>
<%= detail.product_id %> <br>
<% end %>
<% form_tag '/product/add_details' do %>
	Name of Product: <%= text_field 'product', 'product_name', "size"=>"50" %> <br><br>
        <table>
        <th><%= button_to 'Add This Product', :controller => 'product', :action => 'details' %> </th>
		<% end %> 
        <th><%= button_to 'End', :action => 'index' %></th>
        </table>