<strong> Add New Package </strong>
<hr color="#eeddff" size="5px"><br>
<br>
<% form_tag '/product/create' do %>
	Name of Package: <%= text_field 'product', 'product_name', "size"=>"50" %> <br><br>
	Package Price: <%= text_field 'product', 'unit_price', "size"=>"20" %><br><br>
        <table>
        <th><%= button_to 'Add Products', :controller => 'product', :action => 'details' %> </th>
        <% end %> 
        <th><%= button_to 'Cancel', :action => 'index' %></th>
        </table>