<div style="margin-left: 60px; background-image: url(images//rollcake.gif); background-color:cream; background-position: center center; background-repeat: no-repeat; height:255;" >
	<center>
	<% form_tag do%>
		<br><br><br>
		<font size="5" color="chocolate">
		<h1>Login</h1>
			<p style="margin-left:10px;">UserID:<%= password_field_tag 'login', nil, :size => "30x1" %>
	<%= submit_tag 'Go!'%>
	<% end %>
</div>