<strong> Delete Product </strong>
<hr color="#eeddff" size="5px"><br>
<br>
<% form_tag '/product/destroy' do %>
	Name of Product: <%= text_field 'product', 'product_name', "size"=>"50" %><br>
	<table>
		<th><%= submit_tag 'Delete' %> </th>
		<% end %> 
		<th><%= button_to 'Cancel', :action => 'product' %></th>
	</table>